<% content_for :title do %>
	Control your drone actions from here
<% end %>

<style type="text/css">
	
	.directions{
		font-size: 2em;
		text-align: center;
	}

	.directions .west, .directions .east, .directions .north, .directions .south, .directions .nw, .directions .ne, .directions .sw, .directions .se, .directions .up, .directions .down {
		background: #333;
		margin: 2px;
		padding: 20px 0px;
		border: solid 2px transparent;
	}

	.directions .west:hover, .directions .east:hover, .directions .north:hover, .directions .south:hover, .directions .nw:hover, .directions .ne:hover, .directions .sw:hover, .directions .se:hover, .directions .up:hover, .directions .down:hover {
		border-color: white;
	}

	.west-east-control .position, .north-south-control .position, .up-down-control .position{
	    width: 100%;
	    height: 20px;
	    margin: 10px 0px;
	    border: solid 1px white;
	    font-size: 0.45em;
	}

	.north-south-control .position, .up-down-control .position{
		width: 30px;
		margin: 0px;
	    height: 32px;
		text-align: center;
	}

	.west-east-control .position.active, .north-south-control .position.active, .up-down-control .position.active {
	    background: #CE6666;
	}

	.directions .button.active {
		background-color: #999;
	}

	.directions {
	    -webkit-touch-callout: none;
	    -webkit-user-select: none;
	    -khtml-user-select: none;
	    -moz-user-select: none;
	    -ms-user-select: none;
	    user-select: none;
	}

</style>


<div class="row directions">

	<div class="col-lg-6" style="margin-top:20px;">

		X and Y axis controller
		<br>
		
		<div class="west-east-control col-lg-12">

			<div class="col-lg-1">
				<div position='-3' class="position">
					&lArr;
				</div>	
			</div>

			<div class="col-lg-2">
				<div position='-2' class="position"></div>	
			</div>

			<div class="col-lg-2">
				<div position='-1' class="position"></div>	
			</div>

			<div class="col-lg-2">
				<div position='0' class="position active"></div>	
			</div>

			<div class="col-lg-2">
				<div position='1' class="position"></div>	
			</div>

			<div class="col-lg-2">
				<div position='2' class="position"></div>	
			</div>

			<div class="col-lg-1">
				<div position='3' class="position">
					&rArr;
				</div>	
			</div>

		</div>


		<div class="col-lg-12">

			<div class="col-lg-3">
				<div class="button nw">
					&nwArr;
				</div>
			</div>

			<div class="col-lg-6">
				<div class="button north">
					&uArr;
				</div>
			</div>
			
			<div class="col-lg-3">
				<div class="button ne">
					&neArr;
				</div>
			</div>

		</div>


		<div class="col-lg-12">
		
			<div class="col-lg-6">
				<div class="button west">
					&lArr;
				</div>
			</div>

			<div class="col-lg-6">
				<div class="button east">
					&rArr;
				</div>
			</div>

		</div>


		<div class="col-lg-12">

			<div class="col-lg-3">
				<div class="button sw">
					&swArr;
				</div>
			</div>

			<div class="col-lg-6">
				<div class="button south">
					&dArr;
				</div>
			</div>
			
			<div class="col-lg-3">
				<div class="button se">
					&seArr;
				</div>
			</div>

			
		</div>

	</div>


	<div class="col-lg-1" style="margin:55px 0px 0px 15px;">
		
		&nbsp;
		<br>

		<div class="north-south-control">

			<div position="3" class="position">
				&uArr;
			</div>	

			<div position="2" class="position">
				&nbsp;
			</div>	

			<div position="1" class="position">
				&nbsp;
			</div>	

			<div position="0" class="position active">
				&nbsp;
			</div>	

			<div position="-1" class="position">
				&nbsp;
			</div>	

			<div position="-2" class="position">
				&nbsp;
			</div>	

			<div position="-3" class="position">
				<div style="padding-top:13px;">&dArr;</div>
			</div>	

		</div>
	</div>


	<div class="col-lg-4" style="margin:20px;">
		
		<div>
			Altitude controller - Z axis
		</div>


		<div class="up-down-control col-lg-8" style="margin:43px 15px 0px 0px;">

			<div class="col-lg-12">

				<div class="button up">
					&uArr;
				</div>

			
				<div class="button down">
					&dArr;
				</div>

			</div>

		</div>


		<div class="up-down-control col-lg-3" style="margin-top:35px;">

			<div position="3" class="position">
				&uArr;
			</div>	

			<div position="2" class="position">
				&nbsp;
			</div>	

			<div position="1" class="position">
				&nbsp;
			</div>	

			<div position="0" class="position active">
				&nbsp;
			</div>	

			<div position="-1" class="position">
				&nbsp;
			</div>	

			<div position="-2" class="position">
				&nbsp;
			</div>	

			<div position="-3" class="position">
				<div style="padding-top:13px;">&dArr;</div>
			</div>	

		</div>



	</div>
	
</div>




<script type="text/javascript">

	window.step_size = 200; //millis

	up = function(button){
		
		if (button){
			button.addClass('active');
		}

		var current_position = parseInt($('.up-down-control .position.active').attr('position'));
		current_position += 1;

		if(current_position <= 3){
			$('.up-down-control .position').removeClass('active');
			$('.up-down-control .position[position='+ current_position +']').addClass('active');
		}

		window.timeouts.push(setTimeout(up, window.step_size));
	}

	down = function(button){
		
		if (button){
			button.addClass('active');
		}

		var current_position = parseInt($('.up-down-control .position.active').attr('position'));
		current_position -= 1;

		if(current_position >= -3){
			$('.up-down-control .position').removeClass('active');
			$('.up-down-control .position[position='+ current_position +']').addClass('active');
		}

		window.timeouts.push(setTimeout(down, window.step_size));
	}

	north = function(button){
		
		if (button){
			button.addClass('active');
		}

		var current_position = parseInt($('.north-south-control .position.active').attr('position'));
		current_position += 1;

		if(current_position <= 3){
			$('.north-south-control .position').removeClass('active');
			$('.north-south-control .position[position='+ current_position +']').addClass('active');
		}

		window.timeouts.push(setTimeout(north, window.step_size));
	}

	south = function(button){
		
		if (button){
			button.addClass('active');
		}

		var current_position = parseInt($('.north-south-control .position.active').attr('position'));
		current_position -= 1;

		if(current_position >= -3){
			$('.north-south-control .position').removeClass('active');
			$('.north-south-control .position[position='+ current_position +']').addClass('active');
		}

		window.timeouts.push(setTimeout(south, window.step_size));
	}

	east = function(button){
		
		if (button){
			button.addClass('active');
		}

		var current_position = parseInt($('.west-east-control .position.active').attr('position'));
		current_position += 1;

		if(current_position <= 3){
			$('.west-east-control .position').removeClass('active');
			$('.west-east-control .position[position='+ current_position +']').addClass('active');
		}

		window.timeouts.push(setTimeout(east, window.step_size));
	}

	west = function(button){
		
		if (button){
			button.addClass('active');
		}

		var current_position = parseInt($('.west-east-control .position.active').attr('position'));
		current_position -= 1;

		if(current_position >= -3){
			$('.west-east-control .position').removeClass('active');
			$('.west-east-control .position[position='+ current_position +']').addClass('active');
		}

		window.timeouts.push(setTimeout(west, window.step_size));
	}


	sw = function(button){
		west(button);
		south(button);
	}


	se = function(button){
		east(button);
		south(button);
	}



	nw = function(button){
		west(button);
		north(button);
	}

	ne = function(button){
		east(button);
		north(button);
	}

	back_middle = function () {
		
		$('.position').removeClass('active');
		$('.position[position=0]').addClass('active');

		var css_selector = ".directions .north";
		css_selector += ", .directions .south";
		css_selector += ", .directions .west";
		css_selector += ", .directions .east";

		css_selector += ", .directions .sw";
		css_selector += ", .directions .se";

		css_selector += ", .directions .nw";
		css_selector += ", .directions .ne";

		css_selector += ", .directions .up";
		css_selector += ", .directions .down";

		$(css_selector).removeClass('active');

		window.timeouts.forEach(function(timeout_id){
			clearTimeout(timeout_id);
		});
		window.timeouts = [];
	}

	window.timeouts = [];

	$(function(){
		$('.directions .north').mousedown(function(){north($(this));});
		$('.directions .south').mousedown(function(){south($(this));});
		$('.directions .west').mousedown(function(){west($(this));});
		$('.directions .east').mousedown(function(){east($(this));});
		
		$('.directions .sw').mousedown(function(){sw($(this));});
		$('.directions .se').mousedown(function(){se($(this));});

		$('.directions .nw').mousedown(function(){nw($(this));});
		$('.directions .ne').mousedown(function(){ne($(this));});

		$('.directions .up').mousedown(function(){up($(this));});
		$('.directions .down').mousedown(function(){down($(this));});

		$(window).mouseup(function(){back_middle();});
	});

</script>