<% content_for :title do %>
	Tutorial to make a quadcopter to fly controlling it with your mobile phone
<% end %>

<style type="text/css">

	td {
		text-align: center;
		vertical-align: middle;
		border: none;
		width: 11%;
	}

	.engine, .middleman, .raspberry, .empty{
		padding: 20px 4px;
		background: black;
		color: white;
		border: solid 3px;
	}

	.empty{
		border-color: #222;
		background: #222;
	}

	.engine{
		border-color: white;
	}
	
	.middleman{ 
		border-color: orange;
	}
	
	.raspberry{
		border-color: red;
	}

	#raspberry{
		background: #E07A7A;
	    color: #E4CBCB;
	}

	#engine1, #middleman1 {
	    background: #4F9060;
	    color: #B9DCB9;
	}

	#engine2, #middleman2 {
	    background: #EFD19B;
	    color: #988667;
	} 

	#engine3, #middleman3 {
		background: #8A8AD0;
	    color: #E2E2F3;
	}

	#engine4, #middleman4 {
	    background: #4C3D50;
	    color: #AE8CB7;
	}

	table {
		/*border-collapse: collapse;*/
		width: 100%;
		margin: 0px auto 0px auto;
	}

	.jumbo{
		margin-top: 20px;
		background: #222;
		padding: 6px 6px;
		border: solid 1px #555;
		border-radius: 2px;
	}

	section .title{
		padding: 2px 4px 2px 0px;
		margin-top: 40px;
		color: #EEE;
	}

	.y-axis{
		border-left: solid 1px white;
		display: inline-block;
		height: 100%;
	}

	.x-axis{
		border-top: solid 1px white;
		width: 100%;
		height: 1px;
	}

	ol, ul{
		margin-bottom: 15px;
	}
	
</style>

<section>

	<div class="title">
		<strong style="font-size:2em; margin-right:10px;">!</strong> 
		This tutorial is structured in 10 sections and almost all of them are quite independent.

		<ol>
			<li>
				Stuff you will need to make it work

				<ul>

					<li style="padding-top:15px;">
						4 engines and some additional things for it:
						<ul>
							
							<li>
								1 high dischargeable battery
							</li>

							<li>
								Wires and others
							</li>
						</ul>
					</li>


					<li>
						1 Raspberry Pi 2 and some additional things for it:
						<ul>
							
							<li>
								1 usb wifi dongle
							</li>

							<li>
								1 SD card (at least 8GB)
							</li>

							<li>
								1 power bank for cellphones (output: USB 5V and 2A)
							</li>

							<li>
								1  USB - microUSB cable
							</li>

						</ul>
					</li>

					
					<li>
						4 middlemans to translate data between engines and Raspberry
					</li>


				</ul>
			</li>

			<li>
				Putting things together
			</li>

			<li>

				Setting up your Raspberry Pi

				<ul>

					<li>
						Install Raspbian Lite distro
					</li>

					<li>
						Update Raspbian OS via SSH
					</li>

					<li>
						Make Wifi dongle to work
					</li>

					<li>
						Make your Raspbian into a router
					</li>

					<li>
						Install Ruby on Rails
					</li>

					<li>
						Download Drails and run it on Raspbian
					</li>

					<li>
						Connect your phone to Drails
					</li>

					<li>
						Configure firewall and enviromental security
					</li>

				</ul>
			</li>

			<li>
				Flying your Quadcopter
			</li>

		</ol>
	</div>


	<div class="subtitle">
		
	</div>

	<div class="jumbo">
		
		<table>

			<tr>
				<td colspan="3" class="empty">
					<b>2nd</b> 
					arm
				</td>
				
				<td>
					<div class="y-axis"></div>	
				</td>

				<td colspan="3" class="empty">
					<b>1st</b> 
					arm
				</td>
			</tr>


			<tr>
				<td class="empty">&nbsp;</td>
				<td></td>
				<td></td>
				
				<td>
					<div class="y-axis"></div>	
				</td>

				<td></td>
				<td></td>
				<td class="empty">&nbsp;</td>
			</tr>


			<tr>
				<td></td>

				<td id="engine2" class="engine">
					engine 2
				</td>

				<td></td>
				
				<td>
					<div class="y-axis"></div>	
				</td>

				<td></td>

				<td id="engine1" class="engine">
					engine 1
				</td>
				
				<td></td>
			</tr>


			<tr>
				<td></td>
				<td></td>

				<td id="middleman2" class="middleman">
					middleman 2
				</td>

				<td>
					<div class="y-axis"></div>	
				</td>

				<td id="middleman1" class="middleman">
					middleman 1
				</td>
				
				<td></td>
				<td></td>
			</tr>


			<tr>
				<td>
					<div class="x-axis"></div>	
				</td>

				<td>
					<div class="x-axis"></div>	
				</td>

				<td>
					<div class="x-axis"></div>	
				</td>

				<td id="raspberry" class="raspberry">
					raspberry
				</td>

				<td>
					<div class="x-axis"></div>	
				</td>

				<td>
					<div class="x-axis"></div>	
				</td>

				<td>
					<div class="x-axis"></div>	
				</td>
			</tr>


			<tr>
				<td></td>
				<td></td>

				<td id="middleman3" class="middleman">
					middleman 3
				</td>

				<td>
					<div class="y-axis"></div>	
				</td>

				<td id="middleman4" class="middleman">
					middleman 4
				</td>
				
				<td></td>
				<td></td>
			</tr>


			<tr>
				<td></td>

				<td id="engine3" class="engine">
					engine 3
				</td>

				<td></td>
				
				<td>
					<div class="y-axis"></div>	
				</td>

				<td></td>

				<td id="engine4" class="engine">
					engine 4
				</td>

				<td></td>
			</tr>


			<tr>
				<td class="empty">&nbsp;</td>
				<td></td>
				<td></td>
				
				<td>
					<div class="y-axis"></div>	
				</td>

				<td></td>
				<td></td>
				<td class="empty">&nbsp;</td>
			</tr>

			<tr>
				<td colspan="3" class="empty">
					<b>3rd</b> 
					arm
				</td>
				
				<td>
					<div class="y-axis"></div>	
				</td>

				<td colspan="3" class="empty">
					<b>4th</b> 
					arm
				</td>
			</tr>

		</table>
	</div>
	

</section>